<div class="content">

    <div class="column sunny-morning-gradient">

        <div class="header-col">
            <div>Собираются</div>
        </div>
    
        <div class="order-list">
            <div class="order-list-item" 
                [ngClass]="{ 'order-list-item-more-27': countOrdersIn > 27 }" 
                *ngFor="let order of ordersIn; let i = index">
                <p class="order-item" [ngClass]="{ 'order-item-more-27': countOrdersIn > 27 }">{{order}}</p>
            </div>
        </div>

    </div>

    <div class="column dusty-grass-gradient">

        <div class="header-col">
            <div>Готовы</div>
        </div>

        <div class="order-list">
            <div class="order-list-item row" 
                [ngClass]="{ 'order-list-item-more-27': countOrdersOut > 27 }" 
                *ngFor="let order of ordersOut; let i = index; let odd = odd; let even = even;">
                <p class="order-item" [ngClass]="{ 'order-item-more-27': countOrdersOut > 27 }">{{order}}</p>
            </div>
        </div>
    </div>

</div>